<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Touchmytab</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>{{ detail.productBrand }}</h1>
<img src="{{ detail.imageUrl }}" alt="{{ detail.productBrand }}">
<p>{{ detail.amount }}</p> <br>
<a href="{{ detail.productUrl }}" class="btn btn-small">Delete</a>
<div>
    {{ detail.productDescription }}
</div>
</div>
</div>
</div>
</body>
</html>
