<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Touchmytab</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<p><a href="{% url 'laptops:index' %}">Back to Laptops</a></p>
<p>{{ object.id }}</p>
<h1>{{ object.productBrand }}</h1>
<img src="{{ object.imageUrl }}" alt="{{ object.productBrand }}">
<p>{{ object.amount }}</p> <br>
<a href="{{ object.productUrl }}" class="btn btn-primary">Buy</a>
<div>
    {{ object.productDescription }}
</div>
</div>
</div>
</div>
</body>
</html>
