<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Touchmytab</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-2">
<div class="sidebar_list">
    <h3>Filter by Price</h3>
        <ul id="price_list">
            <li>
                <input checked="checked" id="price_all" value="all" type="checkbox">
                <span style="display: inline;">All</span>
            </li>
            <li>
            <input value="0-50" type="checkbox">
                  Rs. 5000
            </li>
            <li>
            <input value="50-100" type="checkbox">
                  Rs.5000 to Rs.10000
            </li>
            <li>
            <input value="100-200" type="checkbox">
                  10000 to 20000
            </li>
            <li>
            <input value="200-500" type="checkbox">
	              20000 to 30000
            </li>
            <li>
            <input value="500-above" type="checkbox">
            30000 and above
            </li>
        </ul>
    </div>
</div>
{% if product_list %}
    {% for list in product_list %}
    <div class="col-md-2">
        <div class="jumbotron">{{ list.productBrand }}<br>
        <img class="img-thumbnail img-responsive" src="{{ list.imageUrl }}"><br> 
        <a href="{{ list.productUrl }}">Buy {{ list.amount }}</a> 
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No products are available.</p>
{% endif %}

</div>
</div>
</body>
</html>
