
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-touch no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  
  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/favicon.png?1865" type="image/png" />
  

  <!-- Title and description ================================================== -->
  <title>
  TouchMyTab
  </title>

  

  <!-- Product meta ================================================== -->
  
  <meta property="og:type" content="website">
  <meta property="og:title" content="Computers">
  
  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0543/1637/t/10/assets/logo.png?1865">
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0543/1637/t/10/assets/logo.png?1865">
  


  <meta property="og:url" content="http://supply-electronics.myshopify.com/collections/computers">
  <meta property="og:site_name" content="Digitalshop">

  
  
  
  <meta name="twitter:site" content="@Shopify">




  <!-- Helpers ================================================== -->
  <link rel="canonical" href="http://supply-electronics.myshopify.com/collections/computers">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  
  <!-- Ajaxify Cart Plugin ================================================== -->
  <link href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/ajaxify.scss.css?1865" rel="stylesheet" type="text/css"  media="all"  />
  

  <!-- CSS ================================================== -->
  <link href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/timber.scss.css?1865" rel="stylesheet" type="text/css"  media="all"  />
  

  
    
    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css"  media="all"  />
  


  
    
    
    <link href="//fonts.googleapis.com/css?family=Dosis:600" rel="stylesheet" type="text/css"  media="all"  />
  



  <!-- Header hook for plugins ================================================== -->
  <link href="/collections/computers.atom" title="Feed" rel="alternate" type="application/atom+xml" />
<link rel="alternate" type="application/json+oembed" href="http://supply-electronics.myshopify.com/collections/computers.oembed" />
<script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "supply-electronics.myshopify.com";
      Shopify.theme = {"name":"supply-july25-2014","id":9702199,"theme_store_id":null,"role":"main"};

//]]>
</script>

<script>
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["//productreviews.shopifyapps.com/assets/v4/spr.js?shop=supply-electronics.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();

//]]>
</script>
<script id="__st">
//<![CDATA[
var __st={"a":5431637,"offset":-14400,"reqid":"63936836-34c9-4136-a010-133508631651","s":"collections-25759671","u":"95b86c89ed38","p":"collection","rtyp":"collection","rid":25759671};
//]]>
</script>
<script>
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();

//]]>
</script>


  

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/respond.min.js?1865" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//supply-electronics.myshopify.com/search?q=94b62075dc22c46e015274b1ced5c9b1" id="respond-redirect" rel="respond-redirect" />
<script src="//supply-electronics.myshopify.com/search?q=94b62075dc22c46e015274b1ced5c9b1" type="text/javascript"></script>
<![endif]-->


  
  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/modernizr.min.js?1865" type="text/javascript"></script>

</head>

<body id="computers" class="template-collection" >

  <header class="site-header" role="banner">
    <div class="wrapper">

      <div class="grid--full">
        <div class="grid-item large--one-half">
          
            <div class="h1 header-logo large--left" itemscope itemtype="http://schema.org/Organization">
          
            
              <a href="/" itemprop="url">
                <img src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/logo.png?1865" alt="Digitalshop" itemprop="logo">
              </a>
            
          
            </div>
          
        </div>

        <div class="grid-item large--one-half text-center large--text-right">
          
            <div class="site-header--text-links">
              
              

              
                <span class="site-header--meta-links medium-down--hide">
                  
                    <a href="/account/login" id="customer_login_link">Sign in</a>
                    
                    <span class="site-header--spacer">or</span>
                    <a href="/account/register" id="customer_register_link">Create an Account</a>
                    
                  
                </span>
              
            </div>

            <br class="medium-down--hide">
          

          <form action="/search" method="get" class="search-bar" role="search">
  <input type="hidden" name="type" value="product">

  <input type="search" name="q" value="" placeholder="Search all products..." aria-label="Search all products">
  <button type="submit" class="search-bar--submit icon-fallback-text">
    <span class="icon icon-search" aria-hidden="true"></span>
    <span class="fallback-text">Search</span>
  </button>
</form>
        </div>
      </div>

    </div>
  </header>

  <nav class="nav-bar" role="navigation">
    <div class="wrapper">
      <form action="/search" method="get" class="search-bar" role="search">
  <input type="hidden" name="type" value="product">

  <input type="search" name="q" value="" placeholder="Search all products..." aria-label="Search all products">
  <button type="submit" class="search-bar--submit icon-fallback-text">
    <span class="icon icon-search" aria-hidden="true"></span>
    <span class="fallback-text">Search</span>
  </button>
</form>

      <ul class="site-nav" id="accessibleNav">
  <li class="large--hide"><a href="/">Home</a></li>
  
    
    
      <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/collections/cameras">
          Cameras & Lenses
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li ><a href="/collections/dslr-cameras">DSLR Cameras</a></li>
          
            <li ><a href="/collections/lenses">Lenses</a></li>
          
            <li ><a href="/collections/point-shoot">Point &amp; Shoot</a></li>
          
            <li ><a href="/collections/accessories">Accessories</a></li>
          
        </ul>
      </li>
    
  
    
    
      <li class="site-nav--has-dropdown site-nav--active" aria-haspopup="true">
        <a href="/collections/computers">
          Computers
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li class="site-nav--active"><a href="/collections/computers">Laptops &amp; Macbooks</a></li>
          
            <li class="site-nav--active"><a href="/collections/computers">iPads &amp; Tablets</a></li>
          
            <li class="site-nav--active"><a href="/collections/computers">Desktops &amp; iMacs</a></li>
          
            <li class="site-nav--active"><a href="/collections/computers">Printers</a></li>
          
            <li class="site-nav--active"><a href="/collections/computers">Drives &amp; Storage</a></li>
          
            <li class="site-nav--active"><a href="/collections/computers">Software</a></li>
          
        </ul>
      </li>
    
  
    
    
      <li >
        <a href="/collections/printers">Printers</a>
      </li>
    
  
    
    
      <li >
        <a href="/collections/accessories">Accessories</a>
      </li>
    
  
    
    
      <li >
        <a href="/collections/top-sellers">Top Sellers</a>
      </li>
    
  
    
    
      <li >
        <a href="/collections/sale-items">Sale Items</a>
      </li>
    
  
    
    
      <li >
        <a href="/pages/about-us">About Us</a>
      </li>
    
  

  
    
      <li class="customer-navlink large--hide"><a href="/account/login" id="customer_login_link">Sign in</a></li>
      
      <li class="customer-navlink large--hide"><a href="/account/register" id="customer_register_link">Create an Account</a></li>
      
    
  
</ul>

    </div>
  </nav>

  <div id="mobileNavBar">
    <div class="display-table-cell">
      <a class="menu-toggle mobileNavBar-link">Menu</a>
    </div>
    <div class="display-table-cell">
      <a href="/cart" class="cart-toggle mobileNavBar-link">
        <span class="icon icon-cart"></span>
        Cart
      </a>
    </div>
  </div>

  <main class="wrapper main-content" role="main">

    






<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Back to the frontpage">Home</a>

  

    <span class="divider" aria-hidden="true">&rsaquo;</span>
    
      <span>Mobiles</span>
    

  
</nav>



<div class="grid grid-border">

  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    


  

    <div class="grid-uniform">
      
      
        
        
        <div class="grid-item small--one-half medium--one-third">
          <h3>BRAND</h3>
          <ul class="advanced-filters">
            
            
              
                
                
                  <li class="advanced-filter" data-group="BRAND"><a title="Narrow selection to products matching tag BRAND_Arbitron" href="/collections/computers/brand_arbitron">Arbitron</a></li>
                
              
            
              
                
                
                  <li class="advanced-filter" data-group="BRAND"><a title="Narrow selection to products matching tag BRAND_Golden Delicious" href="/collections/computers/brand_golden-delicious">Golden Delicious</a></li>
                
              
            
              
            
              
            
              
            
              
            
              
            
              
            
          </ul>
        </div>
        
      
        
        
        <div class="grid-item small--one-half medium--one-third">
          <h3>CAPACITY</h3>
          <ul class="advanced-filters">
            
            
              
            
              
            
              
                
                
                  <li class="advanced-filter" data-group="CAPACITY"><a title="Narrow selection to products matching tag CAPACITY_1TB" href="/collections/computers/capacity_1tb">1TB</a></li>
                
              
            
              
                
                
                  <li class="advanced-filter" data-group="CAPACITY"><a title="Narrow selection to products matching tag CAPACITY_250GB" href="/collections/computers/capacity_250gb">250GB</a></li>
                
              
            
              
            
              
            
              
            
              
            
          </ul>
        </div>
        
      
        
        
        <div class="grid-item small--one-half medium--one-third">
          <h3>MODEL</h3>
          <ul class="advanced-filters">
            
            
              
            
              
            
              
            
              
            
              
                
                
                  <li class="advanced-filter" data-group="MODEL"><a title="Narrow selection to products matching tag MODEL_Desktop" href="/collections/computers/model_desktop">Desktop</a></li>
                
              
            
              
                
                
                  <li class="advanced-filter" data-group="MODEL"><a title="Narrow selection to products matching tag MODEL_Laptop" href="/collections/computers/model_laptop">Laptop</a></li>
                
              
            
              
            
              
            
          </ul>
        </div>
        
      
        
        
        <div class="grid-item small--one-half medium--one-third">
          <h3>SPEED</h3>
          <ul class="advanced-filters">
            
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                
                
                  <li class="advanced-filter" data-group="SPEED"><a title="Narrow selection to products matching tag SPEED_3ghz" href="/collections/computers/speed_3ghz">3ghz</a></li>
                
              
            
              
                
                
                  <li class="advanced-filter" data-group="SPEED"><a title="Narrow selection to products matching tag SPEED_4ghz" href="/collections/computers/speed_4ghz">4ghz</a></li>
                
              
            
          </ul>
        </div>
        
      
    </div>

    <script>
    $(function() {
      var currentTags = '',
          filters = $('.advanced-filter'),
          activeTag,
          activeHandle;

      filters.each(function() {
        var el = $(this),
            group = el.data('group'),
            isActive = el.hasClass('active-filter');
      });

      filters.on('click', function(e) {
        var el = $(this),
            group = el.data('group'),
            url = el.find('a').attr('href');

        // Continue as normal if we're clicking on the active link
        if ( el.hasClass('active-filter') ) {
          return;
        }

        // Get active group link (unidentified if there isn't one)
        activeTag = $('.active-filter[data-group="'+ group +'"]');

        // If a tag from this group is already selected, remove it from the new tag's URL and continue
        if ( activeTag && activeTag.data('group') === group ) {
          e.preventDefault();
          activeHandle = activeTag.data('handle') + '+';

          // Create new URL without the currently active handle
          url = url.replace(activeHandle, '');

          window.location = url;
        }
      });
    });
    </script>

  


  </aside>

  <div class="grid-item large--four-fifths grid-border--left">

    
    
    <header class="section-header">
      <h1 class="section-header--title section-header--left">Mobiles</h1>
      <div class="section-header--right">
        <div class="form-horizontal">
  <label for="sortBy" class="small--hide">Sort by</label>
  <select name="sortBy" id="sortBy">
    <option value="manual">Featured</option>
    <option value="best-selling">Best Selling</option>
    <option value="title-ascending">Alphabetically, A-Z</option>
    <option value="title-descending">Alphabetically, Z-A</option>
    <option value="price-ascending">Price, low to high</option>
    <option value="price-descending">Price, high to low</option>
    <option value="created-descending">Date, new to old</option>
    <option value="created-ascending">Date, old to new</option>
  </select>
</div>

<script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }

  $(function() {
    $('#sortBy')
      // select the current sort order
      .val('title-ascending')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
      }
    );
  });
</script>
        

<div class="collection-view">
  <a title="Grid view" class="change-view collection-view--active" data-view="grid">
    <img src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/collection-view-grid.svg?1865" alt="" />
  </a>
  <a title="List view" class="change-view" data-view="list">
    <img src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/collection-view-list.svg?1865" alt="" />
  </a>
</div>

<script>
  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    if ( newUrl == url ) {
      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
    }
    return newUrl;
  }

  $(function() {
    $('.change-view').on('click', function() {
      var view = $(this).data('view'),
          url = document.URL,
          hasParams = url.indexOf('?') > -1;

      if (hasParams) {
        window.location = replaceUrlParam(url, 'view', view);
      } else {
        window.location = url + '?view=' + view;
      }
    });
  });
</script>
        <button id="toggleFilters" class="btn btn--small right toggle-filters">Filters</button>

      </div>
    </header>
    

    <div class="grid-uniform">

      




{% if product_list %}
    {% for list in product_list %}
<div class="grid-item large--one-quarter medium--one-third small--one-half on-sale">

  <a href="{% url 'mobiles:detail' list.slug %}" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="{{ list.imageUrl }}">
      </div>
    </div>

    <p>{{ list.productBrand }}</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
      {{ list.amount }}
      </span>   
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="{{ list.id }}"></span>
    
  </a>

</div>
    {% endfor %}
{% else %}
    <p>No products are available.</p>
{% endif %}

      

    </div>

  </div>

  

</div>




  </main>

  <footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">

    <div class="grid">

      
        <div class="grid-item medium--one-half large--three-twelfths">
          <h3>Quick Links</h3>
          <ul>
            
              <li><a href="/search">Search</a></li>
            
              <li><a href="/pages/about-us">About Us</a></li>
            
              <li><a href="/blogs/news">Blog</a></li>
            
              <li><a href="/pages/about-us">Shipping rates</a></li>
            
          </ul>
        </div>
      

      
      <div class="grid-item medium--one-half large--five-twelfths">
        <h3>Get In Touch</h3>
        <p>
          
            Come visit our store at 5-500 Bowling Ave, Ohio
          
        </p>

        
          <ul class="inline-list social-icons">
            
              <li>
                <a class="icon-fallback-text" href="https://twitter.com/shopify" title="Digitalshop on Twitter">
                  <span class="icon icon-twitter" aria-hidden="true"></span>
                  <span class="fallback-text">Twitter</span>
                </a>
              </li>
            
            
              <li>
                <a class="icon-fallback-text" href="https://facebook.com/shopify" title="Digitalshop on Facebook">
                  <span class="icon icon-facebook" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
              </li>
            
            
              <li>
                <a class="icon-fallback-text" href="http://www.pinterest.com/shopify/" title="Digitalshop on Pinterest">
                  <span class="icon icon-pinterest" aria-hidden="true"></span>
                  <span class="fallback-text">Pinterest</span>
                </a>
              </li>
            
            
              <li>
                <a class="icon-fallback-text" href="https://plus.google.com/+shopify" title="Digitalshop on Google">
                  <span class="icon icon-google" aria-hidden="true"></span>
                  <span class="fallback-text">Google</span>
                </a>
              </li>
            
            
              <li>
                <a class="icon-fallback-text" href="http://instagram.com/shopify" title="Digitalshop on Instagram">
                  <span class="icon icon-instagram" aria-hidden="true"></span>
                  <span class="fallback-text">Instagram</span>
                </a>
              </li>
            
            
            
              <li>
                <a class="icon-fallback-text" href="http://www.youtube.com/user/shopify" title="Digitalshop on YouTube">
                  <span class="icon icon-youtube" aria-hidden="true"></span>
                  <span class="fallback-text">YouTube</span>
                </a>
              </li>
            
            
              <li>
                <a class="icon-fallback-text" href="http://vimeo.com/shopify" title="Digitalshop on Vimeo">
                  <span class="icon icon-vimeo" aria-hidden="true"></span>
                  <span class="fallback-text">Vimeo</span>
                </a>
              </li>
            
            
          </ul>
        
      </div>
      

      
      <div class="grid-item large--one-third">
        <h3>Newsletter</h3>
        
<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
  <input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail" class="input-group-field" aria-label="Email Address" autocorrect="off" autocapitalize="off">
  <span class="input-group-btn">
    <input type="submit" class="btn-secondary btn--small" value="Sign Up" name="subscribe" id="subscribe">
  </span>
</form>
      </div>
      
    </div>

    <hr class="hr--small">

    <div class="grid">
      <div class="grid-item">
        
          <ul class="legal-links inline-list">
            
              <li><a href="/pages/about-us">Terms & Conditions</a></li>
            
              <li><a href="/pages/about-us">Privacy Policy</a></li>
            
          </ul>
        
        <ul class="legal-links inline-list">
          <li>
            &copy; 2014 Digitalshop
          </li>
          <li>
            E-commerce by <a href="http://www.shopify.ca" target="_blank">Shopify</a>
          </li>
        </ul>
      </div>

      

    </div>

  </div>

</footer>



  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/jquery.flexslider.min.js?1865" type="text/javascript"></script>


  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/shop.js?1865" type="text/javascript"></script>
  <script>
  //var moneyFormat = '${{amount}}';
  </script>


  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/handlebars.min.js?1865" type="text/javascript"></script>


  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/ajaxify.js?1865" type="text/javascript"></script>
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: 'Modal',
      wrapperClass: 'wrapper',
      formSelector: '#addToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '#cartCount',
      toggleCartButton: '.cart-toggle',
      useCartTemplate: true,
      btnClass: 'btn',
      moneyFormat: "${{amount}}",
      disableAjaxCart: false,
      enableQtySelectors: true
    });
  });
  </script>


</body>
</html>




