{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}DEMO{% endblock %}
{% block nav_user %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li id="nav-username"><a href="{% url 'ecom.views.profile' %}">
        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
      </li>
      <li>
        <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
      </li>
    </ul>
  {% else %}
    <form class="navbar-form navbar-right" 
          method="post" 
          action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {% bootstrap_field form.username show_label=False %}
      {% bootstrap_field form.password show_label=False %}
      <input type="hidden" name="next" value="{% url 'ecom.views.home' %}" />
      <button type="submit" class="btn btn-success">Sign in</button>
    </form>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-2">
<div class="sidebar_list">
    <h3>Filter by Price</h3>
        <ul id="price_list">
            <li>
                <input checked="checked" id="price_all" value="all" type="checkbox">
                <span style="display: inline;">All</span>
            </li>
            <li>
            <input value="0-50" type="checkbox">
                  Rs. 5000
            </li>
            <li>
            <input value="50-100" type="checkbox">
                  Rs.5000 to Rs.10000
            </li>
            <li>
            <input value="100-200" type="checkbox">
                  10000 to 20000
            </li>
            <li>
            <input value="200-500" type="checkbox">
	              20000 to 30000
            </li>
            <li>
            <input value="500-above" type="checkbox">
            30000 and above
            </li>
        </ul>
    </div>
</div>
{% if product_list %}
    {% for list in product_list %}
    <div class="col-md-2">
        <div class="jumbotron">{{ list.productBrand }}<br>
        <img class="img-thumbnail img-responsive" src="{{ list.imageUrl }}"><br> 
        <a href="{{ list.productUrl }}">Buy {{ list.amount }}</a> 
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No products are available.</p>
{% endif %}

</div>
</div>
