<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ app.NAME }}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <!-- Application CSS -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex-center position-ref full-height">

        <div class="content">
            <p>
                <img src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/spaces%2F-L9uc-9XAlqhXkBwrLMA%2Favatar.png?generation=1523549490445678&alt=media" width="160px"> 
            </p>
            <div class="title m-b-md">
                {{ app.NAME }}
            </div>

            <div class="links">
                <a href="https://github.com/MasoniteFramework/masonite">The Modern And Developer Centric Python Web Framework</a>
            </div>
            <br><br>

            <div class="links">
                <a href="https://github.com/MasoniteFramework/masonite">Github</a>
                <a href="https://masoniteframework.gitbooks.io/docs/content/">Documentation</a>
                <a href="https://github.com/MasoniteFramework/core">Masonite Core</a>
                <a href="https://masoniteproject.slack.com/">Slack</a>
                <a href="https://twitter.com/masoniteproject">@MasoniteFramework</a>
            </div>
            
            
        </div>
    </div>
</body>

</html>